html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    color: #a2a2a3;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill='%23022006'/%3E%3C/svg%3E");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wallet-buttons {
  display: flex;
  justify-content: space-around;
}

.dashboard {
  word-wrap: break-word;
  color: red;
}

.dashboardError {
  word-break: break-word;
  overflow-wrap: break-word;
  color: red;
}

.dashboardSuccess {
  word-break: break-word;
  overflow-wrap: break-word;
  color: green;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close:hover{
  cursor: pointer
}
.popup .close:hover {
  color: blue;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}