.container {
  padding: 0 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 10px 10px;
  gap: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;
  overflow-wrap: break-word;
}
